{
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    },
    "target": "es2015",
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true
}